Flask
Flask-Cors
flask-openapi3
flask-openapi3-elements
flask-openapi3-rapidoc
flask-openapi3-rapipdf
flask-openapi3-redoc
flask-openapi3-scalar
flask-openapi3-swagger
Flask-SQLAlchemy
nose2
pydantic
SQLAlchemy
SQLAlchemy-Utils
typing_extensions
scikit-learn
scipy
pandas
numpy
pytest
jupyter
matplotlib
seaborn
jinja2
Werkzeug